{% extends "cash_register/base.html" %}
{% block content %}
	<script>
		var barcode = '';
		var interval;
		document.addEventListener('keydown', function(evt) {
			if (interval)
				clearInterval(interval);
			if (evt.code == 'Enter') {
				if (barcode)
					handleBarcode(barcode);
				barcode = '';
				return;
			}
			if (evt.key != 'Shift')
				barcode += evt.key;
			interval = setInterval(() => barcode = '', 20);
		});

		function handleBarcode(scanned_barcode) {
			document.querySelector('#last-barcode').value = scanned_barcode;
		}
	</script>
	<div class="columns is-centered">
		<div class="column">
			<div class="columns is-centered">
				<div class="column is-half">
					<p class="content is-size-6 has-text-black ml-4">Search product by title or scan barcode<p>
					<div class="columns">
						<input id="last-barcode" class="input mb-4 mr-4 ml-4"></input>
						<script>
							function fill(){
								let title = document.getElementById('last-barcode').value;
								document.getElementById('title').innerHTML = title;
								
							}
						</script>
						<button class="button has-text-white has-background-black ml-4 mr-4" onclick="fill()">Submit</button>
					</div>
					<table class="table is-hoverable">
						<tr class="tr mg-medium">
							<th class="th has-text-black has-background-warning">title</th>
							<th class="th has-text-black has-background-warning">category</th>
							<th class="th has-text-black has-background-warning">price</th>
							<th class="th has-text-black has-background-warning">discount %</th>
							<th class="th has-text-black has-background-warning">delete</th>
						</tr>
							{% for item in items %}
								<tr class="tr">
									<td>{{ item.name }}</td>
									<td>{{ item.category }}</td>
									<td>{{ item.price }}</td>
									<td>0.0</td>
									<td class="td">
										<button class="button has-text-white has-background-danger">x</button>
									</td>
								<tr>
							{% endfor %}
						
					</table>
				</div>
				<div class="column is-half" style="background-color: #F5F5F5;">
					<div class="rows">
						<p class="content is-size-6 has-text-black ml-4 mb-4">Enter Costumer's id</p>
					</div>
					<div class="columns">
						<input id="last-barcode" class="input mb-4 mr-4 ml-4"></input>
						<button class="button has-text-white has-background-black ml-4 mr-4">Submit</button>
					</div>
					<div class="rows">
						<p class="content is-size-7 has-text-danger ml-4 mb-4 mt-4">@UnregisteredCostumer</p>
					</div>
					<p class="content is-size-6 is-italic has-text-black ml-4">* Note: If no costumer is added the bill will be registered with the name UnregisteredCostumer.</p>
					<section class="section">
						<div class="columns is-centered">
							<table class="table">
								<tr class="tr" style="background-color: #F5F5F5;">
									<td class="td has-text-black">Sub Total:</td>
									<td class="td is-size-5">0.0$</td>
								</tr>
								<tr class="tr" style="background-color: #F5F5F5;">
									<td class="td has-text-black">Discounts:</td>
									<td class="td has-text-danger is-size-5">0.0$</td>
								</tr>
								<tr class="tr" style="background-color: #F5F5F5;">
									<td class="td has-text-black">Total:</td>
									<td class="td has-text-black is-size-5">0.0$</td>
								</tr>
							</table>
						</div>
					</section>
					<section class="hero mb-4">
						<div class="block">
							<div class="columns is-centered">
								<div class="column is-half">
									<div class="rows">
										<div class="row">
											<button class="button has-text-white has-background-black is-size-6 is-fullwidth">Print Bill</button>
										</div>
										<div class="row">
											<button class="button has-text-white has-background-black is-size-6 is-fullwidth">Send Email</button>
										</div>
									</div>
								</div>
								<div class="column is-half">
									<div class="rows">
										<div class="row">
											<button class="button has-text-white has-background-black is-size-6 is-fullwidth">Clear</button>
										</div>
										<div class="row">
											<button class="button has-text-white has-background-black is-size-6 is-fullwidth">Undo</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}